:root {
  --font-primary:'Roboto', sans-serif;
  --font-secondary:'Lato', sans-serif;
}

html {
  font-family: var(--font-primary);
}


.bg {
  font-family: 'Courgette', cursive;
  height:100vh;
  width: 100vw;
  margin: 0;
  background-image: url("../images/adventure1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.logo {
  padding: 50px;
}

.img-flex {
  padding: .5em;
}

h1 {
  font-family: var(--font-primary);
  font-size: 50px;
  color: #696969;
  text-align: center;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 34px;
  color: #696969;
  text-align: center;
  margin-top: 120px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}


.nav {
  margin: 0;
  padding: 10;
  list-style-type: none;
  text-align: center;
  font-size: 40px;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #808080;
}

.nav a:hover {
  color: #99CCFF;
}

.portfolio-list {
  position: relative;
  width: 100%;
  background: #f3f3f3;
  padding: 3px;
}

a {
  text-decoration: none;
  outline: none;
  font-size: 14px;
}

.projects {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-me {
  position: relative;
  width: 100%;
  background: white;
  text-align: center;
  padding: 30px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}

.footer-menu {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}

.footer .copyright {
    width: 80%;
    position: relative;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color: #a4a4a4;
}

.footer .footer-menu {
  line-height: 20px;
  padding: 10px;
  color: #a4a4a4;
}

.project-thumbnail-container {
  width: 100%;
  margin: 0 auto;
  background-color: #F8F8F8;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding: 30px;

}

.about-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  color: #777;
}

.project-title {
  color: #f7f7f7;
}

.preview-overlay {
  background-color: rgba(12, 12, 12, 0);
  transition: background-color .25s;
}

.work-group .unit:hover .preview-overlay {
  background-color: rgba(12, 12, 12, .75);
}

.projects {
  color: rgba(0, 0, 0, 0);
  transition: background-color .25s;
}

.work-group .unit:hover .projects {
  color: rgba(225, 225, 225, 1);
}

.info {
  text-align: center;
  font-size: 20px;
  color: #D8D8D8;
}

.btn {
  background-color: #99CCFF;
  text-decoration: none;
  color: white;
  border: none;

}

.footer-link {
  text-decoration: none;
  color: #808080;
}
@media only screen and (min-width: 25em) {

.logo {
  max-width: 100%;
}


}
